<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>

	<button ng-click="search_by_author()">Search by Author</button>
   <button ng-click="search_by_title()">Search by Title</button>
	
	<br>
	<input ng-model="search_term.query" value="">
   <!-- Button tag with ng-click directive, and
          string expression 'buttonText'
          wrapped in "{{ }}" markup -->
   <button ng-click="search()">Search</button>

  <div class="list">

    <a ng-repeat="result in results" 
    href="#/app/mybooks/{{result.id}}"
    class="item item-thumbnail-right">

      <img ng-src="{{ result.image }}">

      <h2>{{ result.title }}</h2>
      <h3>{{ result.author }}</h3>
    </a>

  </div>
 
 </ion-content>
</ion-view>
