<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
    <!DOCTYPE html>
<html lang="en">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<html ng-app>
 
 <!-- Body tag augmented with ngController directive  -->
<body ng-controller="SearchCtrl">
	<button ng-click="search_by_author">Search by Author</button>
   <button ng-click="search_by_title">Search by Title</button>
	
	<br>
	<input ng-model="search_term" value="">
   <!-- Button tag with ng-click directive, and
          string expression 'buttonText'
          wrapped in "{{ }}" markup -->
   <button ng-click="search">Search</button>

   <script src="angular.js">
 </body>
</html>
 
 </ion-content>
</ion-view>
